<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ helpers.bootstrap_3 }}
    <style>
          table { border-collapse: collapse; margin-top: 20px; }
          table th { background-color: silver; font-weight: bold; text-align: left; padding: 1px; border:solid 1px #999; }
          table tr td { border-bottom:solid 1px #999; padding: 1px; vertical-align: top; }
          table tr td.person { background-color: #888; color: white }
          table tr td.name { background-color: #eee; border-right:solid 1px #999; border-left:solid 1px #999; }
          table tr td.inner { border-right:dotted 1px #bbb; }
      		table tr td.last {border-right:solid 1px #999; }
      		table tr td.top_row { display: table; width: 100%; }
      		table tr td.top_row > div { display: table-cell; width: 50%; border-bottom: 1px solid #eee; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header_info">
      	<h1>
        	{{ list.name }}
      	</h1>
      	<h3 style="float: right">
        	Today's Date: _________________
      	</h3>
      	<strong><em>*Please be sure to welcome our guests!</em></strong>
      </div>
			<table border="1" width="100%">
        <thead>
        	<tr>
          	<th></th>
          	<th></th>
            <th colspan="2">1st</th>
          	<th colspan="2">2nd</th>
          	<th></th>
          	<th></th>
          	<th></th>
            <th></th>
          </tr>
        	<tr>
          	<th>Last Name</th>
          	<th>First Name</th>
          	<th>IN</th>
          	<th>OUT</th>
          	<th>IN</th>
          	<th>OUT</th>
            <th>Parent Contact</th>
            <th>Authorized Pickup</th>
            <th>Medical Notes</th>
						<th dummy="{% increment row_number %}">#</th>
          </tr>
        </thead>
        <!-- Our lists are sorted alphabetically by last name. -->
        {% assign people_sorted_by_last_name = people | sort_natural: 'last_name' %}
        {% for person in people_sorted_by_last_name %}
					<tr>
					  <!-- We want our staff to recognize people who are guests -->
					  {% if person.membership == "Local Guest" %}
              <td class="name"><em><strong>* {{person.last_name}}</strong></em></td>
              <td class="name"><em><strong>{{person.first_name}}</strong></em></td>
              <td class="inner"></td>
              <td class="inner"></td>
              <td class="inner"></td>
              <td class="inner"></td>
              <td class="inner">
                {% for household in person.households %}
                  {% for adult in household.adults %}
                    <div class="top_row">
                      <div><em><strong>{{ adult.first_name }}: </strong></em>
                        {% for phone_number in adult.phone_numbers %}
                          {%if phone_number.location == "Mobile" %}
                            <div style="float:right;">
                              <em>{{ phone_number.number }}</em>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
              </td>
              <td class="inner"><em>{{ person.custom_tabs.childcare.authorized_pickup }}</em></td>
              <td class="inner"><em>{{ person.medical_notes }}</em></td>
              <td class="last"><em>{% increment row_number %}<em></td>
            {% else %}
              <td class="name"><strong>{{person.last_name}}</strong></td>
              <td class="name"><strong>{{person.first_name}}</strong></td>
              <td class="inner"></td>
              <td class="inner"></td>
              <td class="inner"></td>
              <td class="inner"></td>
              <td class="inner">
                {% for household in person.households %}
                  {% for adult in household.adults %}
                    <div class="top_row">
                      <div><strong>{{ adult.first_name }}: </strong>
                        {% for phone_number in adult.phone_numbers %}
                          {%if phone_number.location == "Mobile" %}
                            <div style="float:right;">
                              {{ phone_number.number }}
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
              </td>
              <td class="inner">{{ person.custom_tabs.childcare.authorized_pickup }}</td>
              <td class="inner">{{ person.medical_notes }}</td>
              <td class="last">{% increment row_number %}</td>
            {% endif %}
          </tr>
        {% endfor %}
        <!-- Adding some extra rows for guests. -->
        <tr>
          <td class="name"></td>
          <td class="name"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="last">{% increment row_number %}</td>
        </tr>
        <tr>
          <td class="name"></td>
          <td class="name"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="last">{% increment row_number %}</td>
        </tr>
        <tr>
          <td class="name"></td>
          <td class="name"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="inner"></td>
          <td class="last">{% increment row_number %}</td>
        </tr>
      </table>
    </div>
  </body>
</html>